.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.text-danger {
    color: #984807 !important;
}
.text-warning {
    color: #e46c0a !important;
}
.btn-outline-warning {
    border-color: #984807 !important;
}
.google {
    color: #B40404; !important;
    font-size: 26px; !important;
    padding-right: 100px; !important;
}
.facebook{
    color: #0B3861; !important;
    font-size: 26px; !important;
    padding-right: 100px; !important;
}
.twitter {
    color: #00BFFF; !important;
    font-size: 26px; !important;
    padding-right: 100px; !important;
}
.form-control {
    height: 100%; !important;
}
.jumbotron {
   background-image: url(images/header.jpg); !important;
}

